body {
  position: relative;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

#app {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ec407a;
  color: #fff;
}

#app h1 {
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin: 0.5rem auto;
  padding: 0;
  font-weight: 400;
  font-size: 48px;
}

#app h5 {
  margin: 0.5rem auto;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
}

#app img {
  margin: 0.5rem auto;
  padding: 0;
}
